body {
  font-family: 'Delius Unicase', cursive;
  color: #31a5ba;
}

h1 {
  color: #e9c4f8;
  display: block;
  font-size: 40px;
  font-weight: 200px;
  line-height: 29px;
  margin-top: 20px;
}

ul {
  color: white;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: block;
  font-size: 20px;
  font-weight: 100;
  line-height: 19.2px;
  text-align: left;
}

.weather-app {
  border: 2px solid;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 78%);
  padding: 20px;
  margin: 25px auto;
  max-width: 800px;
  border-radius: 20px;
}
.main-info-view {
  margin-bottom: 25px;
}

.image-icon img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  margin-bottom: 20px;
}

.image-icon .degrees {
  position: relative;
}
.temperature {
  font-size: 60px;
  margin-bottom: 15px;
}
.degrees {
  font-size: 18px;
  position: relative;
  top: -20px;
  right: 15px;
}

.github {
  text-align: center;
  margin: 0 auto;
  display: block;
}

#temperature {
  color:#31a5ba;
  font-size:64px;
  font-weight:400;
  line-height:1;
}
#search-form {
    border-radius: 15px;
}
